*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    /* background: url("images/AckBackground.jpg");  */
    background: linear-gradient(135deg,rgb(97, 12, 207),rgb(225, 174, 248));
    background-repeat: no-repeat;
    user-select: none;
}

.topbar{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px black;
}

.container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width:60%;
    height: 80%;
    border-radius: 40px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 30px rgba(0,0,0,.7);
}
.giftbox{
    width: 100%;
    height: 100%;
}
.congratulations{
    position: absolute;
    padding: 20px;
    bottom: 100px;
}
h2{
    font-family: poppins;
}
#home{
    width: 150px;
    height:30px;
    border:none;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    cursor: pointer;
}
#congrats{
    font-size: 30px;
    text-align: center;
    color: rgb(41, 1, 65);
}
#message{
    text-align:center; 
    color: rgb(88, 88, 88);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#continue{
    position:  absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    color: white;
    background:linear-gradient(to right,rgb(63, 2, 107),indigo,rgb(131, 75, 172));
    box-shadow: 0 0 10px indigo;
    transition: .4s;
    cursor: pointer;
}
#continue:hover{
    letter-spacing: 3px;
    font-size: 20px;
    background:linear-gradient(to left,rgb(63, 2, 107),indigo,rgb(131, 75, 172));
    box-shadow: 0 0 15px indigo;
}
#image{
    max-width: 100%;
}
#menu{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%) scaleX(1.6);
    color: #000;
    font-size: 25px;
    cursor: pointer;
  }
.sidenav 
{
    position:fixed;
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
    left: -80%;
    background: linear-gradient(135deg,rgba(1, 27, 48, 0.9),rgba(2, 58, 104, 0.9));
    overflow-x: hidden;
    transition: 0.09s;
    padding-top: 40px;
    z-index:50000;
}
.sidenav a 
{
    padding: 15px 10px 10px 25px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover 
{
font-size: 22px;
    color: rgba(1, 27, 48, 1);
    background:rgba(255,255,255,0.6);
}
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color:white;
}
#cb:hover
{
font-size: 40px;
font-weight: bold;
cursor: pointer;
}

i::after
{
    content:"...";
    visibility:hidden;
}
@media screen and (max-width: 500px) {
    body{
        background: indigo;
    }
    .topbar{
        background-color: indigo;
        box-shadow: none;
        z-index: 10;
    }
    #menu{                
        color: white;
    }
    .container{
        margin-top: 0px;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 6px rgba(0,0,0,.7);

    }
    .congratulations{
        top: 50%;
    }
}
@media screen and (min-width: 500px) {
    .container{
        width: 60%;
    }
    #continue{
        bottom: 50px;
    }

}        
@media screen and (min-width: 750px) {
    .container{
        width: 50%;
    }
}
@media screen and (min-width: 900px) {
    .container{
        width: 30%;
        height: 90%;
    }
}

@media screen and (min-width: 900px) {
    body{
        background: white;
    }
    .topbar{
        box-shadow: 0 0 5px rgba(0,0,0,.7);
    }
    .container{
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
    .congratulations{
        top: 10px;
        width: 50%;
        left: 10px;
    }
    #congrats{
        font-size: 50px;
    }
    .giftbox{
    }
    #image{
        position: absolute;
        right: 10px;
        max-width: 50%;
    }
    #continue{
        top: 40%;
        left: 25%;
    }
}
@media screen and (max-width: 600px) {

    .sidenav{
        width: 70%;
    }
}

/* CONFETTI STYLES */

@keyframes confetti-slow {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    
    100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
  }
  .conf-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background:transparent;
    display:fixed;
    top:0px;
  }
  
  .confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
      animation: confetti-slow 1.25s linear 1 forwards;
  }
  
  
 