*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#donation{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
#line{
    border-left: 1px solid rgb(207, 207, 207);
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding:0px 50px 20px 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
}
.logsign{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgb(207, 207, 207);
    background-color: white;
    user-select: none;
}
#log{
    font-size: 30px;
}
.regbtn{
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}
.regbtn:hover{
    background-color: rgb(219, 217, 217);
}
.register{
    position: relative;
    margin-top: 40px;
}
label{
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(36, 36, 36);
    user-select: none;
}
input{
    margin-top: 20px;
    height:50px;
    width: 100%;
    border: 1px solid rgb(102, 101, 101);
    padding: 10px;
    border-radius: 100px;
    font-size: 16px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.2);
    transition: .3s;
}
input::placeholder{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
/* input[type="email"]{
    padding-bottom: 5px;
} */
input:hover{
    outline: none;
    border: 2px solid rgb(2, 80, 197);

}
input:focus{
    outline: none;
    border: 2px solid rgb(1, 64, 158);
}
.box{
    margin-top: 40px;
    padding-bottom: 30px;
}

.submit{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border: none;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
    background: linear-gradient(135deg,rgb(3, 62, 151),rgb(64, 113, 187));
}
.submit:hover{
    letter-spacing: 5px;
    border-bottom: none;
}
h2{
    font-family: poppins;
    font-size: 35px;
    color: rgb(31, 31, 31);
}
.topbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px black;
}
.back{
    margin-left: 10px;
    font-size: 28px;
    color:rgb(7, 0, 6) ;
    -webkit-text-stroke: 1px rgb(255, 254, 255);
    cursor: pointer;
}
.back:hover{
    transform: scale(1.1);
}


#have{
    margin-top: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(68, 67, 67);
}
#has:hover{
    text-decoration: underline;
}
@media screen and (max-width: 700px) {
    .container{
        box-shadow:none;
        padding: 0px 20px;
    }
    .topbar{
        box-shadow: 0 0 7px rgba(0,0,0,.5);
    }
}
@media screen and (min-width: 600px) {
 
}
@media screen and (min-width: 630px){
    body{
        background: url("images/Background.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    .topbar{
        background-color: transparent;
    }
    .back{
        color: white;
        -webkit-text-stroke: 1px solid rgb(97, 9, 148);
    }
    #donation{
        display: none;
        /* position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%) scale(1.3); */
    }
    .container{
        margin-top: 20px;
        width: 60%;
        padding:0px 50px 20px 50px;
    }
    .submit{
        background-color: rgb(97, 9, 148);
    }
}
@media screen and (min-width: 900px) {
    body{
        background: url("images/Background.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    #donation{
        display: none;
        /* position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%) scale(1.3); */
    }
    .container{
        margin-top: 20px;
        margin-left: auto;
        width: 50%;
    }
}
@media screen and (min-width: 1100px) {

    .container{
        width: 40%;
    }
}

